.update{
    background-color: rgb(209, 211, 212);
    width: 80%;
    height: 500px;
    justify-items: center;
    margin-left: 100px;
}
.inpu{
width: 70vw;
height: 5vh;

}
.btn{
    width: 70vw;
    height: 6vh;
    background-color: #4CAF50;
}